i.cgvIcon.etc.age15 {
  overflow: hidden;
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,0) url("data:image/svg+xml;charset=UTF-8, %3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23age15)'%3e%3cpath d='M17.745 20H2.255A2.256 2.256 0 0 1 0 17.745V2.255A2.255 2.255 0 0 1 2.255 0h15.49A2.253 2.253 0 0 1 20 2.255v15.49A2.254 2.254 0 0 1 17.745 20Z' fill='%23DD742F'/%3e%3cpath d='M4.318 16.891v-9.94H3.217L4.643 3.11h2.761V16.89H4.318ZM16.313 7.815h-4.834v-2.02h5.052V3.107H8.45v7.342h5.177v3.85h-2.183v-1.812H8.45v4.095a.306.306 0 0 0 .307.308h7.556a.306.306 0 0 0 .308-.308V8.125a.307.307 0 0 0-.308-.31Z' fill='%23fff'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='age15'%3e%3cpath fill='%23fff' d='M0 0h20v20H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") center/contain scroll no-repeat;
	border-radius: 2px;
  font-size: 0;
}

i.cgvIcon.etc.age12 {
  overflow: hidden;
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,0) url("data:image/svg+xml;charset=UTF-8, %3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23age15)'%3e%3cpath d='M17.745 20H2.255A2.256 2.256 0 0 1 0 17.745V2.255A2.255 2.255 0 0 1 2.255 0h15.49A2.253 2.253 0 0 1 20 2.255v15.49A2.254 2.254 0 0 1 17.745 20Z' fill='%23DD742F'/%3e%3cpath d='M4.318 16.891v-9.94H3.217L4.643 3.11h2.761V16.89H4.318ZM16.313 7.815h-4.834v-2.02h5.052V3.107H8.45v7.342h5.177v3.85h-2.183v-1.812H8.45v4.095a.306.306 0 0 0 .307.308h7.556a.306.306 0 0 0 .308-.308V8.125a.307.307 0 0 0-.308-.31Z' fill='%23fff'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='age15'%3e%3cpath fill='%23fff' d='M0 0h20v20H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") center/contain scroll no-repeat;
	border-radius: 2px;
  font-size: 0;
}

i.cgvIcon.etc.ageAll {
  overflow: hidden;
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,0) url("data:image/svg+xml;charset=UTF-8, %3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23ageAll)'%3e%3cpath d='M17.745 20H2.256A2.256 2.256 0 0 1 0 17.745V2.255A2.255 2.255 0 0 1 2.256 0h15.49A2.253 2.253 0 0 1 20 2.255v15.49A2.254 2.254 0 0 1 17.745 20Z' fill='%23269C56'/%3e%3cpath d='M5.74 15.076 5.5 13.56H3.748l-.24 1.516H1.24v-.027L3.383 4.898h2.47l2.144 10.145v.027l-2.256.006ZM4.627 8.18l-.56 3.462h1.116L4.626 8.18ZM8.402 15.078V4.904h2.264v8.136h2.663v2.038H8.402ZM13.808 15.076V4.904h2.263v8.136h2.664v2.038l-4.927-.002Z' fill='%23fff'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='ageAll'%3e%3cpath fill='%23fff' d='M0 0h20v20H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") center/contain scroll no-repeat;
	border-radius: 2px;
  font-size: 0;
}

.img_wrap{
	position:relative; 
	overflow:hidden;
}


/* S > 무비차트 */	
.img_wrap > img {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(0, -50%);
}


.movieChart_list.swiper{
	overflow:visible;
	position:relative;
}

.movieChart_list:before{
	content:'';
	display:block;
	position:absolute;
	left:-30px;
	top:0;
	width:10px;
	height:100%;
	background-color:#fff;
	z-index:2;
}

.movieChart_list:after{
	content:'';
	display:block;
	position:absolute;
	right:-30px;
	top:0;
	width:10px;
	height:100%;
	background-color:#fff;
	z-index:3;
}

.movieChart_list .swiper{
	counter-reset:movie-chart-counter;
}

.movieChart_list .swiper .img_wrap{
	overflow:hidden;
	position:relative;
	width:170px;
	height:234px;
	border-radius:10px;
}
.movieChart_list .swiper-wrapper .swiper-slide .img_wrap {
  overflow: hidden;
  position: relative;
  width: 170px;
  height: 234px;
  border-radius: 10px;
}
.movieChart_list .swiper-wrapper .swiper-slide .img_wrap:before{
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.85));
	z-index:2;
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap:after{
	content:counter(movie-chart-counter);
	counter-increment:movie-chart-counter;
	position:absolute;
	left:9px;
	bottom:-4px;
	font-weight:400;
	font-size:50px;
	font-style:italic;
	color:#fff;
	line-height:1em;
	z-index:3;
	text-shadow:2px 5px 5px rgba(0, 0, 0, 0.45);
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap img{
z-index:1;
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap .movieAgeLimit_wrap{
	display:flex;
	flex-direction:column;
	gap:5px;
	position:absolute;
	right:6px;
	top:7px;
	z-index:4;
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap .screenType_wrap{
	position:absolute;
	right:10px;
	bottom:10px;
	z-index:5;
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap .screenType_wrap .screenType{
	display:flex;
	align-items:center;
	position:relative;
	width:34px;
	height:10px;
	border:1px solid rgba(223, 223, 223, 0.5);
	border-radius:3px;
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap .screenType_wrap .screenType ~ .screenType{
	margin-top:2px;
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap .screenType_wrap .screenType img{
width:35px;
	height:7px;
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap .movieChart_btn_wrap{
	display:none;
}


.movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover{
	box-shadow:6px 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover:before{
	background-color:rgba(0, 0, 0, 0.5);
	background-image:none
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover:after{
	opacity:0;
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover .movieAgeLimit_wrap{
	display:none;
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover .screenType_wrap{
	display:none;
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover .movieChart_btn_wrap{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:3;
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover .movieChart_btn_wrap a{
	display:inline-flex;
	justify-content:center;
	align-items:center;
	width:120px;
	height:34px;
	font-weight:500;
	font-size:13px;
	line-height:1.462em;
	border-radius:4px;
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover .movieChart_btn_wrap a ~ a{
	margin-top:6px;
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover .movieChart_btn_wrap a:hover{
	opacity:0.8;
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover .movieChart_btn_wrap a.btn_movieChart_detail{
	color:#666;
	background-color:#fff;
}

.movieChart_list .swiper-wrapper .swiper-slide .img_wrap:hover .movieChart_btn_wrap a.btn_movieChart_ticketing{
	color:#fff;
	background-color:#fb4357;
}


.movieChart_list .swiper-wrapper .swiper-slide .movie_info_wrap{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.movieChart_list .swiper-wrapper .swiper-slide .movie_info_wrap .movieName{
	display:block;
	flex-basis:100%;
	overflow:hidden;
	margin-top:14px;
	font-size:18px;
	color:#222;
	line-height:1.167em;
	text-align:center;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.movieChart_list .swiper-wrapper .swiper-slide .movie_info_wrap > span{
	display:block;
	float:left;
	margin-top:9px;
	font-size:14px;
	color:#444;
	line-height:1.214em;
}

.movieChart_list .swiper-wrapper .swiper-slide .movie_info_wrap > span ~ span{
	position:relative;
	padding-left:16px;
}

.movieChart_list .swiper-wrapper .swiper-slide .movie_info_wrap > span ~ span:before{
	content:'';
	display:block;
	position:absolute;
	left:6px;
	top:50%;
	width:1px;
	height:10px;
	margin-top:-5px;
	background-color:#ededed;
}

.movieChart_list .swiper-wrapper .swiper-slide .movie_info_wrap > span img{
	width:16px;
	height:16px;
	vertical-align:top;
}


.movieChart_list .swiper-button-prev{
	overflow:hidden;
	left:-20px;
	top:calc(50% - 26px);
	width:40px;
	height:40px;
	margin-top:-20px;
	font-size:0;
	border-radius:50%;
	box-shadow:2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.movieChart_list .swiper-button-prev:after{
	content:'';
	width:40px;
	height:40px;
	background:rgba(255, 255, 255, 0.8) url('./../images/common/ico/arrowL.png') center/9px 13px scroll no-repeat;
}

.movieChart_list .swiper-button-next{
	overflow:hidden;
	right:-20px;
	top:calc(50% - 26px);
	width:40px;
	height:40px;
	margin-top:-20px;
	font-size:0;
	border-radius:50%;
	box-shadow:2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.movieChart_list .swiper-button-next:after{
	content:'';
	width:40px;
	height:40px;
	background:rgba(255, 255, 255, 0.8) url('./../images/common/ico/arrowL.png') center/9px 13px scroll no-repeat;
	transform:rotate(-180deg);
}

.movieChart_list .swiper-button-disabled{
	display:none;
}


/* E COMMON */

/* S Main */
/* S > Movie Selection */
.movieSelection_wrap{
	position:relative;
	height:498px;
	background-color:#000;
}

/* .movieSelection_wrap .contents{

}
 */
.movieSelection_wrap .contents .video_wrap{
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
}

.movieSelection_wrap .contents .video_wrap:before{
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background-image:linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.25) 75%, #000 100%);
	z-index:2;
}

/* .movieSelection_wrap .contents .video_wrap:after{
	content:'';
	width:490px;
	height:100%;
	position:absolute;
	right:0;
	top:0;
	background-image:linear-gradient(to right, rgba(0, 0, 0, 0) 0%,#000 90% ,#000 100%);
	z-index:3;
}
 */
.movieSelection_wrap .contents .video_wrap video{
	position:relative;
	width:100%;
	height:100%;
	transform:scale(1.35);
	/*left:-11%;
	top:-11%;
	width:122%;
	height:122%;
	object-fit:cover;
	*/ z-index:1;
}

.movieSelection_wrap .contents .video_wrap img{
	width:100%;
	height:100%;
	object-fit:cover;
}

.movieSelection_wrap .contents .movieSelection_title{
	position:absolute;
	top:170px;
	left:0;
	font-weight:700;
	font-size:40px;
	color:#fff;
	line-height:1.450em;
	text-shadow:2px 2px 4px rgba(0, 0, 0, 0.72);
	z-index:2;
	/*animation:tt1 1s 3s ease-in forwards;
	*/ pointer-events:none;
}

.movieSelection_wrap .contents .movieSelection_txt{
	display:-webkit-box;
	overflow:hidden;
	position:absolute;
	top:239px;
	left:0;
	max-width:100%;
	font-size:20px;
	color:#fff;
	line-height:1.450em;
	text-overflow:ellipsis;
	z-index:3;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	/*animation:tt2 1s 3s ease-in forwards;
	*/ pointer-events:none;
}

.movieSelection_wrap .contents .movieSelection_video_controller_wrap{
	display:inline-flex;
	position:absolute;
	top:315px;
	left:3px;
	z-index:4;
	/*animation:tt 0.8s 3s ease-in forwards*/;
}

/*@keyframes tt {

	from{
top:315px;

}

	to{
top:450px;

}


}

@keyframes tt1 {

	to{
filter:blur(10px);
 opacity:0
}


}

@keyframes tt2 {

	to{
filter:blur(10px);
 opacity:0
}


}
*/
.movieSelection_wrap .contents .movieSelection_video_controller_wrap .btn_movieSelection_detailView{
	display:block;
	padding:5px 30px 5px 18px;
	font-size:14px;
	color:#343434;
	line-height:1.429em;
	background:rgba(255, 255, 255, 0.8) url('./../images/common/ico/arrowR_8x13.png') calc(100% - 11px) center/8px 13px scroll no-repeat;
	border-radius:15px;
}
.movieSelection_wrap .contents .movieSelection_video_controller_wrap .btn_movieSelection_playStop{
	display:block;
	margin-left:10px;
	width:28px;
	height:28px;
	font-size:0;
	background:transparent url('./../images/main/ico/play.png') center/18px scroll no-repeat;
	border:1px solid #979797;
	border-radius:50%;
}

.movieSelection_wrap .contents .movieSelection_video_controller_wrap .btn_movieSelection_playStop.active{
	background:transparent url('./../images/main/ico/pause.png') center/18px scroll no-repeat;
}

.movieSelection_wrap .contents .movieSelection_video_controller_wrap .btn_movieSelection_soundOnOff{
	display:block;
	margin-left:10px;
	width:28px;
	height:28px;
	font-size:0;
	background:transparent url('./../images/main/ico/soundOff.png') center/18px scroll no-repeat;
	border:1px solid #979797;
	border-radius:50%;
}

.movieSelection_wrap .contents .movieSelection_video_controller_wrap .btn_movieSelection_soundOnOff.active{
	background:transparent url('./../images/main/ico/soundOn.png') center/18px scroll no-repeat;
}


/* S > 무비차트 | 상영예정작 */
.movieChartBeScreen_wrap{
	clear:none;
	float:none;
	background-image:linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(232, 232, 232, 0.37));
}

.movieChartBeScreen_wrap .contents{
	overflow:hidden;
	margin-left:-30px;
	padding:50px 10px 60px;
}

.movieChartBeScreen_wrap .contents .movieChart_list:before,
.movieChartBeScreen_wrap .contents .movieChart_list:after{
	content:none;
}

.movieChartBeScreen_btn_wrap{
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-bottom:20px;
}

.movieChartBeScreen_btn_wrap .tabBtn_wrap{
	display:inline-flex ;
}

.movieChartBeScreen_btn_wrap .tabBtn_wrap h3{
	height:auto;
	margin:0;
	line-height:1em;
	background-image:none;
}

.movieChartBeScreen_btn_wrap .tabBtn_wrap h3 ~ h3{
	position:relative;
	margin-left:32px;
}

.movieChartBeScreen_btn_wrap .tabBtn_wrap h3 ~ h3:before{
	content:'';
	display:block;
	position:absolute;
	left:-16px;
	top:50%;
	width:1px;
	height:14px;
	margin-top:-7px;
	background-color:#d8d8d8;
}

.movieChartBeScreen_btn_wrap .tabBtn_wrap h3 a{
	font-weight:400;
	font-size:26px;
	color:#666;
	line-height:1.423em;
}

.movieChartBeScreen_btn_wrap .tabBtn_wrap h3 a.active{
	font-weight:700;
	 color:#222;
}

.movieChartBeScreen_btn_wrap .btn_allView{
	padding:4px 32px 4px 15px;
	font-size:14px;
	color:#222;
	line-height:1.429em;
	background:transparent url('./../images/common/ico/arrowR_8x13.png') calc(100% - 7px) center/8px 13px scroll no-repeat;
	border:1px solid #e2e2e2;
	border-radius:15px;
	box-shadow:1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}



/* S > 특별관 */
.specialHall_wrap{
	padding:60px 0 21px;
}

.specialHall_title_wrap{
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.specialHall_title_wrap h3{
	height:auto;
	margin:0;
	font-weight:700;
	font-size:26px;
	color:#222;
	line-height:1.423em;
	background-image:none;
}

.specialHall_title_wrap .btn_allView{
	padding:4px 32px 4px 15px;
	font-size:14px;
	color:#222;
	line-height:1.429em;
	background:transparent url('./../images/common/ico/arrowR_8x13.png') calc(100% - 7px) center/8px 13px scroll no-repeat;
	border:1px solid #e2e2e2;
	border-radius:15px;
	box-shadow:1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.specialHall_content{
	display:flex;
	justify-content:space-between;
	margin-top:19px;
}

.specialHall_content > a{
	display:block;
	overflow:hidden;
	width:500px;
	border-radius:10px;
}

.specialHall_content > a .img_wrap{
	width:100%;
	height:100%;
}

.specialHall_content .specialHall_list{
	overflow:hidden;
	width:440px;
}

.specialHall_content .specialHall_list li{
	border:1px solid transparent;
	border-top:1px solid #e9e9e9;
}

.specialHall_content .specialHall_list li:last-child{
	border-bottom:1px solid #e9e9e9;
}

.specialHall_content .specialHall_list li a{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:19px 25px 19px 19px;
}

.specialHall_content .specialHall_list li a strong{
	font-weight:400;
	font-size:18px;
	color:#222;
	line-height:1.444em;
}

.specialHall_content .specialHall_list li a .specialHall_hashTag_wrap .specialHall_hashTag{
	padding:2px 7px;
	font-size:14px;
	color:#666;
	line-height:1.429em;
	background-color:#f6f6f6;
	border-radius:5px;
}


/* S > 기프트콘 노출 */
.giftcon_wrap{
	padding:60px 0 0;
}
.giftcon_list_wrap{
	display:flex;
}
.giftcon_list_wrap > li{
	width:270px;
	padding:20px 19px 30px;
	border:1px solid #e4e4e4;
	border-radius:10px;
}
.giftcon_list_wrap > li ~ li{
	margin-left:25px;
}

.giftcon_list dt{
	display:flex;
	justify-content:space-between;
	align-items:center;
	font-weight:500;
	font-size:20px;
	color:#222;
	line-height:1.450em;
}
.giftcon_list dt .btn_more{
	padding:2px 15px 3px;
	font-weight:400;
	font-size:12px;
	color:#666;
	line-height:1.417em;
	border:1px solid #f4f4f4;
	border-radius:11px;
}
.giftcon_list dt + dd{
	margin-top:27px;
}


.giftcon_list dd{
	margin-top:20px;
}

.giftcon_list dd a{
	display:flex;
	justify-content:left;
	align-items:center;
}
.giftcon_list dd a .img_wrap{
	position:relative;
	width:75px;
	height:76px;
	border-radius:5px;
}
.giftcon_list dd a .giftcon_info_wrap{
	display:inline-flex;
	flex-direction:column;
	padding-left:15px;
}
.giftcon_list dd a .giftcon_info_wrap span{
	font-weight:500;
	font-size:14px;
	color:#222;
	line-height:1.429em;
}

.giftcon_list dd a .giftcon_info_wrap strong{
	font-weight:700;
	font-size:16px;
	color:#222;
	letter-spacing:-0.020em;
	line-height:1.444em;
}

		
/* S > 공지사항 & 고객센터 */
.noticeClient_wrap{
	padding:30px 0 120px;
}
.noticeClient_wrap .contents:after{
	content:'';
	clear:both;
	display:block;
	font-size:0;
	line-height:0;
}
.noticeClient_wrap .contents .noticeClient_container{
	display:flex;
	float:left;
	width:736px;
	height:236px;
	border:1px solid #e4e4e4;
	border-radius:10px;
}

.noticeClient_wrap .contents .noticeClient_container .noticeClient_content{
	width:460px;
	padding:24px 26px 20px 30px;
}
.noticeClient_wrap .contents .noticeClient_container .noticeClient_content .notice_wrap{
	display:block;
	padding-bottom:21px;
	border-bottom:1px solid #f4f4f4;
}
.noticeClient_wrap .contents .noticeClient_container .noticeClient_content .notice_wrap:after{
	content:'';
	clear:both;
	display:block;
	font-size:0;
	line-height:0;
}
.noticeClient_wrap .contents .noticeClient_container .noticeClient_content .notice_wrap strong{
	float:left;
	font-weight:500;
	font-size:16px;
	color:#222;
	line-height:1.500em;
}
.noticeClient_wrap .contents .noticeClient_container .noticeClient_content .notice_wrap .btn_link{
	float:left;
	overflow:hidden;
	max-width:300px;
	margin-top:2px;
	margin-left:28px;
	font-size:14px;
	color:#222;
	line-height:1.429em;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.noticeClient_wrap .contents .noticeClient_container .noticeClient_content .notice_wrap .btn_link:hover{
	text-decoration:underline;
}
.noticeClient_wrap .contents .noticeClient_container .noticeClient_content .notice_wrap .btn_more{
	float:right;
	padding:2px 15px 3px;
	font-weight:400;
	font-size:12px;
	color:#666;
	line-height:1.417em;
	border:1px solid #f4f4f4;
	border-radius:11px;
}
	/* .client_wrap{
}
 */
.client_wrap .client_list{
	display:flex;
	padding:19px 0 22px;
}
.client_wrap .client_list dt{
	font-weight:500;
	font-size:16px;
	color:#222;
	line-height:1.500em;
}
.client_wrap .client_list dd{
	overflow:hidden;
	padding-left:28px;
}
.client_wrap .client_list dd strong{
	display:block;
	font-weight:700;
	font-size:14px;
	color:#222;
	line-height:1.714em;
}
.client_wrap .client_list dd span{
	display:block;
	font-size:14px;
	color:#222;
	line-height:1.714em;
}
.client_wrap .client_list dd p{
	display:block;
	font-size:14px;
	color:#666;
	line-height:1.714em;
}
.client_wrap .client_btn_wrap{
	display:flex;
}
.client_wrap .client_btn_wrap a{
	padding:7px 14px;
	font-size:14px;
	color:#222;
	line-height:1.429em;
	background-color:#f6f6f6;
	border-radius:5px;
}
.client_wrap .client_btn_wrap a ~ a{
	margin-left:10px;
}
.noticeClient_wrap .contents .noticeClient_container .qr_wrap{
	display:flex;
	flex-direction:column;
	width:222px;
	text-align:center;
	border-left:1px solid #e4e4e4;
}
.noticeClient_wrap .contents .noticeClient_container .qr_wrap strong{
	display:block;
	margin-top:24px;
	font-weight:500;
	font-size:16px;
	color:#222;
	line-height:1.500em;
}
.noticeClient_wrap .contents .noticeClient_container .qr_wrap span{
	display:block;
	width:100%;
	margin-top:5px;
	font-size:12px;
	color:#222;
	line-height:1.250em;
}
.noticeClient_wrap .contents .noticeClient_container .qr_wrap .img_wrap{
	width:60px;
	height:60px;
	margin:29px auto 0;
}
.noticeClient_wrap .contents .noticeClient_container .qr_wrap p{
	margin-top:24px;
	font-size:12px;
	color:#666;
	letter-spacing:-0.030em;
	line-height:1.417em;
}
.noticeClient_banner_wrap{
	float:right;
	overflow:hidden;
	position:relative;
	width:211px;
	height:238px;
	border-radius:10px;
}
.noticeClient_banner_wrap .noticeClient_banner_list .swiper-wrapper .swiper-slide a{
	display:block;
}
.noticeClient_banner_wrap .noticeClient_banner_list .swiper-wrapper .swiper-slide a img{
	width:100%;
}
.noticeClient_banner_wrap .btn_noticeClientBannerControl{
	display:block;
	position:absolute;
	right:10px;
	bottom:10px;
	width:28px;
	height:28px;
	font-size:0;
	background:#fff url('./../images/common/ico/main/play.png') 10px center/11px 15px scroll no-repeat;
	border:1px solid #e3e3e3;
	border-radius:50%;
	z-index:2;
}
.noticeClient_banner_wrap .btn_noticeClientBannerControl.active{
	background:#fff url('./../images/common/ico/main/stop.png') center center/9px 13px scroll no-repeat;
}



